#root {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.books-container{
  display: grid;
  grid-template-columns: repeat(2,0.1fr);
  gap:20px;
}
.card-container{
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 25rem;
  padding: 2rem 4rem;
  background-color: white;
  border-radius: 20px;
}

.card-title{
  color: rgb(19, 18, 18);
  font-size: 3rem;
  font-weight: 750;
  letter-spacing: -1px;
}

.card-author{
color: rgb(19, 18, 18);
    font-size: 2rem;
  font-weight: 750;
  letter-spacing: -1px;
}

.card-id{
  margin-top: 5rem;
  color: rgb(99, 99, 99);
    font-size: 1.2rem;
  font-weight: 750;
  letter-spacing: -1px;
}

.id-bold{
  color: rgb(19, 18, 18);
}

.card-rating{
   color: rgb(99, 99, 99);
    font-size: 1.2rem;
  font-weight: 750;
  letter-spacing: -1px;
}

.read-the-docs {
  color: #888;
}
